* {
  margin: 0px;
  padding: 0px;
}
nav ul {
  text-align: right;

  width: 100%;
  background-color: #e0ebe8;
}


nav ul li {
  display: inline-block;
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: #008080;
  text-decoration: none;
}


nav ul li a:hover {
  color: green;
}




.Home {
  padding-top: 10vw;
  padding-bottom: 10vw;
  font-family: 'Open Sans', sans-serif;
  background: #e0ebe8;
  text-align: center;
  font-size: 30px;
}

.Home img {
  height: 20%;
  width: 20%;
  border-radius: 100px 100px 100px 100px;
}

.About {
  padding-top: 5vw;
  padding-bottom: 4vw;
}



.About #header{
  text-align: center;
  color: green;
  font-size: 5vw;
  margin-bottom: 3vw;
}

.About p {
    text-align: center;
    font-size: 4vw;
  }


.skills {
  padding-top: 5vw;
}


.skills img {
      display: inline-block;
      width: 20%;
      height: 15%;
      margin: 5vw;
}
